<div class="container py-5" *ngIf="!showLogin">
  
    <div class="row"> 
      <div class="col-md-12 col-md-offset-3">
       <form  [formGroup]="form" (ngSubmit)="onSubmit()">

        <div id="msform">
        <!-- progressbar -->
        <ul id="progressbar">
            <li [ngClass]="currentStep>=1 ? 'active ' : 'inactive'">Personal Details</li>
            <li [ngClass]="currentStep>=2 ? 'active' : 'inactive'">Social Profiles</li>
            <li [ngClass]="currentStep>=3 ? 'active' : 'inactive'">File Upload</li>
            <li [ngClass]="currentStep==4 ? 'active' : 'inactive'">Account Setup</li>
        </ul>
        <!-- fieldsets -->
        <div *ngIf="currentStep  === 1" >
            <div formGroupName="personalDetails">
                <fieldset>
                    <h2 class="fs-title">Personal Details</h2>
                    <input type="text" formControlName="name" placeholder="Full Name"/>
    
                    <input type="text" formControlName="email" name="email" placeholder="Email"/>
                    
                    <input type="text" formControlName="phone" name="phone" placeholder="Phone"/>
                    
                    <button (click)="nextStep()" class="next action-button">Next</button>
                    <span>Click here if you already Registered!</span>
                    <button type="submit" class="submit action-button" (click)="showLogin = true">Login</button>
                </fieldset>
            </div>
        </div>
           
        <div *ngIf="currentStep === 2">
            <div formGroupName="addressDetails" id="msform">
                <fieldset>
                    <h2 class="fs-title">Address Details</h2>
                    <input type="text" formControlName="city"  placeholder="City"/>
                     
                    <textarea rows="5" cols="5" formControlName="address"  placeholder="address"></textarea>
                     
                    <input type="text" formControlName="pincode"  placeholder="Pincode"/>
                    <button (click)="prevStep()" class="previous action-button-previous">Previous</button>
                    <button (click)="nextStep()" class="next action-button">Next</button>
                </fieldset>
            </div>
        </div>
        
        <div *ngIf="currentStep === 3">
            <div formGroupName="addressDetails" id="msform">
                <fieldset>
                    <h2 class="fs-title">File Upload</h2>
                      <div class="form-group">
                        <label for="image">Image</label>
                        <input type="file" formControlName="image" class="form-control"  (change)="onFileChange($event)">
                      </div>
                    <button (click)="prevStep()" class="previous action-button-previous">Previous</button>
                    <button (click)="nextStep()" class="next action-button">Next</button>
                </fieldset>
            </div>
        </div>

        <div *ngIf="currentStep === 4">
            <div formGroupName="educationalDetails" id="msform">
                <fieldset>
                    <h2 class="fs-title">Educational Details</h2>
                    <input type="text" formControlName="highest_qualification" placeholder="Highest Qualification"/>
                        
                    <input type="text" formControlName="university"  placeholder="University"/>
                        
                    <input type="text" formControlName="total_marks" placeholder="Total Marks"/>
                    <button (click)="prevStep()" class="previous action-button-previous">Previous</button>
                    <button type="submit" class="submit action-button">Register</button> 
                </fieldset>
            </div>  
        </div>
         </div>
       </form>
      </div>
  </div>
  </div>
 
  <!-- Login -->
  <div class="container py-5" *ngIf="showLogin">
    <div class="row"> 
      <div class="col-md-12 col-md-offset-3">
       <form>

        <div id="msform">
        <div *ngIf="currentStep  === 1" >
            <div formGroupName="personalDetails">
                <fieldset>
                    <h2 class="fs-title">User Login Section</h2>
                    <input type="text" formControlName="name" placeholder="User Name"/>
    
                    <input type="password" formControlName="password" name="password" placeholder="Password"/>

                    <button type="submit" class="submit action-button">Login</button> <span>Not Registered? Click here</span>
                    <button (click)="showLogin = false" class="next action-button">Register</button> 
                </fieldset>
            </div>
        </div>

        </div>
    </form>
    </div>
</div>
</div>
 